<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KMA | Admin</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/c352df61bb.js" crossorigin="anonymous"></script>
    <link href="assets/style.css" rel="stylesheet" />
</head>

<body>
    <nav>
        <div class="container">
            <img src="assets/images/Massinissa.png" class="logo" />
            <div class="search-bar">
                <span class="material-icons">search</span>
                <input type="search" placeholder="Search" />
            </div>

            <div class="profile-area">
                <div class="theme-btn">
                    <span class="material-icons active">light_mode</span>
                    <span class="material-icons">dark_mode</span>
                </div>
                <div class="profile">
                    <div class="profile-photo">
                        <img src="assets/images/profile pic.jpg" />
                    </div>
                    <h5>Ayoub</h5>
                    <span class="material-icons">expand_more</span>
                </div>
                <button id="menu-btn">
                    <span class="material-icons">menu</span>
                </button>
            </div>
        </div>
    </nav>
    <!-- End of Navbar -->
    <main>
        <aside>
            <button id="close-btn">
                <span class="material-icons">close</span>
            </button>
            <div class="sidebar">
                <a href="admin">
                    <span class="material-icons">dashboard</span>
                    <h4>Dashboard</h4>
                </a>
                <a href="students">
                    <span class="material-icons">school</span>
                    <h4>Étudiants</h4>
                </a>
                <a href="teachers">
                    <span class="material-icons">person</span>
                    <h4>Enseignants</h4>
                </a>
                <a href="groups">
                    <span class="material-icons">group</span>
                    <h4>Groupes</h4>
                </a>
                <a href="classrooms">
                    <span class="material-icons">class</span>
                    <h4>Salles de classe</h4>
                </a>
                <a href="finance">
                    <span class="material-icons">attach_money</span>
                    <h4>Finance</h4>
                </a>

                <!-- <a href="attendance" class="active">
                    <span class="material-icons">check_circle</span>
                    <h4>Présence</h4>
                </a> -->
                <a href="settings">
                    <span class="material-icons">settings</span>
                    <h4>Paramètres</h4>
                </a>
            </div>
            <!-- End of sidebar -->

            <!-- <div class="updates">
                      <span class="material-icons">update</span>
                      <h4>Updates Available</h4>
                      <p>Security Updates</p>
                      <p>General Updates</p>
                      <a href="#">Update Now</a>
                  </div> -->
        </aside>
        <!-- End of aside -->

        <section class="middle">
            <div class=" header">
                <h1>Présence</h1>
            </div>
            <div class="tools">
                <div>
                    <button>
                        <!-- <span class="material-icons">person_add</span> -->
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                            fill="#000000">
                            <path
                                d="M720-400v-120H600v-80h120v-120h80v120h120v80H800v120h-80Zm-360-80q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM40-160v-112q0-34 17.5-62.5T104-378q62-31 126-46.5T360-440q66 0 130 15.5T616-378q29 15 46.5 43.5T680-272v112H40Zm80-80h480v-32q0-11-5.5-20T580-306q-54-27-109-40.5T360-360q-56 0-111 13.5T140-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T440-640q0-33-23.5-56.5T360-720q-33 0-56.5 23.5T280-640q0 33 23.5 56.5T360-560Zm0-80Zm0 400Z" />
                        </svg>
                    </button>
                    <button>
                        <!-- <span class="material-icons">manage_accounts</span> -->
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                            fill="#000000">
                            <path
                                d="M480-240Zm-320 80v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q37 0 73 4.5t72 14.5l-67 68q-20-3-39-5t-39-2q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32h240v80H160Zm400 40v-123l221-220q9-9 20-13t22-4q12 0 23 4.5t20 13.5l37 37q8 9 12.5 20t4.5 22q0 11-4 22.5T903-340L683-120H560Zm300-263-37-37 37 37ZM620-180h38l121-122-18-19-19-18-122 121v38Zm141-141-19-18 37 37-18-19ZM480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47Zm0-80q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Z" />
                        </svg>
                    </button>
                    <button>
                        <!-- <span class="material-icons">person_remove</span> -->
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                            fill="#000000">
                            <path
                                d="M640-520v-80h240v80H640Zm-280 40q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM40-160v-112q0-34 17.5-62.5T104-378q62-31 126-46.5T360-440q66 0 130 15.5T616-378q29 15 46.5 43.5T680-272v112H40Zm80-80h480v-32q0-11-5.5-20T580-306q-54-27-109-40.5T360-360q-56 0-111 13.5T140-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T440-640q0-33-23.5-56.5T360-720q-33 0-56.5 23.5T280-640q0 33 23.5 56.5T360-560Zm0-80Zm0 400Z" />
                        </svg>
                    </button>
                    <select name="" id="">
                        <option value="">Select your category</option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>
                    <input type="search" placeholder="Enter your seach query...">
                    <button class="searchbutton">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                            fill="#e8eaed">
                            <path
                                d="M440-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47Zm0-80q33 0 56.5-23.5T520-640q0-33-23.5-56.5T440-720q-33 0-56.5 23.5T360-640q0 33 23.5 56.5T440-560ZM884-20 756-148q-21 12-45 20t-51 8q-75 0-127.5-52.5T480-300q0-75 52.5-127.5T660-480q75 0 127.5 52.5T840-300q0 27-8 51t-20 45L940-76l-56 56ZM660-200q42 0 71-29t29-71q0-42-29-71t-71-29q-42 0-71 29t-29 71q0 42 29 71t71 29Zm-540 40v-111q0-34 17-63t47-44q51-26 115-44t142-18q-12 18-20.5 38.5T407-359q-60 5-107 20.5T221-306q-10 5-15.5 14.5T200-271v31h207q5 22 13.5 42t20.5 38H120Zm320-480Zm-33 400Z" />
                        </svg>
                        </buttoncl>
                </div>
                <div>
                    <button>
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                            fill="#e8eaed">
                            <path
                                d="M360-240h440v-107H360v107ZM160-613h120v-107H160v107Zm0 187h120v-107H160v107Zm0 186h120v-107H160v107Zm200-186h440v-107H360v107Zm0-187h440v-107H360v107ZM160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Z" />
                        </svg>
                    </button>
                    <div class="checkbox-wrapper-3"><input type="checkbox" id="cbx-3" /><label for="cbx-3"
                            class="toggle"><span></span></label></div>
                </div>
            </div>

            <table>
                <tbody>
                    <tr>
                        <th></th>
                        <th>#</th>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Sex</th>
                        <th>Année Scolaire</th>
                        <th>Téléphone</th>
                        <th>Groupes</th>
                        <th>Note</th>
                        <th>Frais (DZD)</th>
                        <th>Présence</th>
                    </tr>
                    <tr>
                        <td>

                            <div class="checkbox-wrapper-15"><input class="inp-cbx" id="cbx-15" type="checkbox"
                                    style="display: none;" />
                                <label class="cbx" for="cbx-15">
                                    <span>
                                        <svg width="12px" height="9px" viewbox="0 0 12 9">
                                            <polyline points="1 5 4 8 11 1"></polyline>
                                        </svg>
                                    </span>
                                </label>
                            </div>
                        </td>
                        <td>1</td>
                        <td>Ayoub</td>
                        <td>Ben Chahla</td>
                        <td>Male</td>
                        <td>2023 / 2024</td>
                        <td>0792-975-400</td>
                        <td>Robotics</td>
                        <td>Lorem ipsum dolor sit amet</td>
                        <td>7000/15000</td>
                        <td>
                            <button>
                                <span class=" material-icons">calendar_month</span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>

                            <div class="checkbox-wrapper-15"><input class="inp-cbx" id="cbx-15" type="checkbox"
                                    style="display: none;" />
                                <label class="cbx" for="cbx-15">
                                    <span>
                                        <svg width="12px" height="9px" viewbox="0 0 12 9">
                                            <polyline points="1 5 4 8 11 1"></polyline>
                                        </svg>
                                    </span>
                                </label>
                            </div>
                        </td>
                        <td>1</td>
                        <td>Ayoub</td>
                        <td>Ben Chahla</td>
                        <td>Male</td>
                        <td>2023 / 2024</td>
                        <td>0792-975-400</td>
                        <td>Robotics</td>
                        <td>Lorem ipsum dolor sit amet</td>
                        <td>7000/15000</td>
                        <td>
                            <button>
                                <span class=" material-icons">calendar_month</span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>

                            <div class="checkbox-wrapper-15"><input class="inp-cbx" id="cbx-15" type="checkbox"
                                    style="display: none;" />
                                <label class="cbx" for="cbx-15">
                                    <span>
                                        <svg width="12px" height="9px" viewbox="0 0 12 9">
                                            <polyline points="1 5 4 8 11 1"></polyline>
                                        </svg>
                                    </span>
                                </label>
                            </div>
                        </td>
                        <td>1</td>
                        <td>Ayoub</td>
                        <td>Ben Chahla</td>
                        <td>Male</td>
                        <td>2023 / 2024</td>
                        <td>0792-975-400</td>
                        <td>Robotics</td>
                        <td>Lorem ipsum dolor sit amet</td>
                        <td>7000/15000</td>
                        <td>
                            <button>
                                <span class=" material-icons">calendar_month</span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>

                            <div class="checkbox-wrapper-15"><input class="inp-cbx" id="cbx-15" type="checkbox"
                                    style="display: none;" />
                                <label class="cbx" for="cbx-15">
                                    <span>
                                        <svg width="12px" height="9px" viewbox="0 0 12 9">
                                            <polyline points="1 5 4 8 11 1"></polyline>
                                        </svg>
                                    </span>
                                </label>
                            </div>
                        </td>
                        <td>1</td>
                        <td>Ayoub</td>
                        <td>Ben Chahla</td>
                        <td>Male</td>
                        <td>2023 / 2024</td>
                        <td>0792-975-400</td>
                        <td>Robotics</td>
                        <td>Lorem ipsum dolor sit amet</td>
                        <td>7000/15000</td>
                        <td>
                            <button>
                                <span class=" material-icons">calendar_month</span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>

                            <div class="checkbox-wrapper-15"><input class="inp-cbx" id="cbx-15" type="checkbox"
                                    style="display: none;" />
                                <label class="cbx" for="cbx-15">
                                    <span>
                                        <svg width="12px" height="9px" viewbox="0 0 12 9">
                                            <polyline points="1 5 4 8 11 1"></polyline>
                                        </svg>
                                    </span>
                                </label>
                            </div>
                        </td>
                        <td>1</td>
                        <td>Ayoub</td>
                        <td>Ben Chahla</td>
                        <td>Male</td>
                        <td>2023 / 2024</td>
                        <td>0792-975-400</td>
                        <td>Robotics</td>
                        <td>Lorem ipsum dolor sit amet</td>
                        <td>7000/15000</td>
                        <td>
                            <button>
                                <span class=" material-icons">calendar_month</span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>

                            <div class="checkbox-wrapper-15"><input class="inp-cbx" id="cbx-15" type="checkbox"
                                    style="display: none;" />
                                <label class="cbx" for="cbx-15">
                                    <span>
                                        <svg width="12px" height="9px" viewbox="0 0 12 9">
                                            <polyline points="1 5 4 8 11 1"></polyline>
                                        </svg>
                                    </span>
                                </label>
                            </div>
                        </td>
                        <td>1</td>
                        <td>Ayoub</td>
                        <td>Ben Chahla</td>
                        <td>Male</td>
                        <td>2023 / 2024</td>
                        <td>0792-975-400</td>
                        <td>Robotics</td>
                        <td>Lorem ipsum dolor sit amet</td>
                        <td>7000/15000</td>
                        <td>
                            <button>
                                <span class=" material-icons">calendar_month</span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>

                            <div class="checkbox-wrapper-15"><input class="inp-cbx" id="cbx-15" type="checkbox"
                                    style="display: none;" />
                                <label class="cbx" for="cbx-15">
                                    <span>
                                        <svg width="12px" height="9px" viewbox="0 0 12 9">
                                            <polyline points="1 5 4 8 11 1"></polyline>
                                        </svg>
                                    </span>
                                </label>
                            </div>
                        </td>
                        <td>1</td>
                        <td>Ayoub</td>
                        <td>Ben Chahla</td>
                        <td>Male</td>
                        <td>2023 / 2024</td>
                        <td>0792-975-400</td>
                        <td>Robotics</td>
                        <td>Lorem ipsum dolor sit amet</td>
                        <td>7000/15000</td>
                        <td>
                            <button>
                                <span class=" material-icons">calendar_month</span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>


        </section>
        <!-- End of Middle -->


        <!-- End of right -->
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"
        integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="assets/main.js"></script>
    <!-- End of Main -->
</body>

</html>