<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/style.css">
    <title>Login</title>
</head>

<body class="login-body">
    <nav>
        <a href="/">
            <img src="assets/images/KMA_logo.png" alt="">
        </a>
            <h1>King Massinissa International Academy | Page d'admin</h1>
        
    </nav>
        <form class="login-form">
            <h1>Bienvenu</h1>
            <label for="">Nom d'utilisateur</label>
            <input type="text" name="firstname">
            <label for="">Mot de passe</label>
            <input type="password" name="password">
            <button>Connecter</button>
        </form>
        <script src="assets/loginPageController.js"></script>
</body>

</html>